// src/{{componentPath}}/{{pascalCase componentName}}.jsx
import React from 'react';
import PropTypes from 'prop-types';

const {{pascalCase componentName}} = (props) => {
return (
<div>
    <h1>{{pascalCase componentName}}</h1>
</div>
);
};

{{pascalCase componentName}}.propTypes = {
// Add your prop types here
};

export default {{pascalCase componentName}};
